<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       		http://www.springframework.org/schema/beans 
       		http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean class="controller.employees.EmployeeController"/>
	<bean id="employeeService" 
		class="service.employees.EmployeeService" />
	<bean id="employeeRepository" 
		class="repository.EmployeeRepository" />
	<bean id="employeeNoService" 
		class="service.employees.EmployeeNoService"/>
	<bean id="employeeListService" 
		class="service.employees.EmployeeListService"/>	
	<bean id="employeeInfoService" 
		class="service.employees.EmployeeInfoService"/>		
	<bean id="employeeModifyService" 
		class="service.employees.EmployeeModifyService"/>	
	
	<bean id="employeeDeleteService" 
		class="service.employees.EmployeeDeleteService"/>

</beans>

